# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Folders
/.idea
/.vscode
/target/classes
/target/test-classes

# Files
*.class
.DS_Store
pom.xml